<% if logged_in? %>
  <div class="row">
    <div class="col-md-8">
      <h3>TimeLine</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center">
    <h1>Welcome to insta app</h1>
    <h2>インスタグラムのクローンアプリです。</h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>