<%  if comments.present? %> 
  <% comments.each do |comment| %>
    <% unless comment.id.nil? %>
      <p><%= link_to "#{comment.user.name}さん", user_path(comment.user.id) %></p>
      <p>コメント：<%= comment.content %></p>
      <% if comment.user == current_user %>
       <p><%= link_to 'コメントを削除する',micropost_comment_path(comment.micropost_id, comment.id), method: :delete, remote: true %></p>
      <% end %>
    <% end %>
  <% end %>
<% end %>