<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <p>公開情報</p>
      <%= f.label :name, "名前(必須)" %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :username, "ユーザーネーム(必須)" %>
      <%= f.text_field :username, class: 'form-control' %>
      
      <%= f.label :website, "ウェブサイト"%>
      <%= f.text_field :website, class: 'form-control' %>
      
      <%= f.label :introduce, "自己紹介"%>
      <%= f.text_field :introduce, class: 'form-control' %>
      <p>非公開情報</p>
      <%= f.label :email, "メールアドレス"%>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label :phone_number, "電話番号"%>
      <%= f.text_field :phone_number, class: 'form-control' %>
      
      <%= f.label :sex, "性別"%>
      <%= f.select :sex, [["",""], ["女性","女性"], ["男性","男性"]], {},   class: 'form-control' %>
       
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
    
    <%= link_to "パスワード再設定", edit_password_reset_path(@user) %>
    <br>
    <%= link_to "アカウント削除", @user, method: :delete, class: "btn ", data: { confirm: "You sure?" } %>

  </div>
</div>