<% @user ||= current_user %>
<div class="stats">
  <a  class="no_link">
    <strong class="stat">
     <%= @user.microposts.count %>
    </strong>
    投稿数
  </a>
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    フォロー
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    フォロワー
  </a>
  <br>
</div>
<div>
  <br>
  <%= @user.introduce %>
  <br>
</div>