<li id="micropost-<%= micropost.id %>" data-micropost-id="<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user">
    <%= link_to micropost.user.name, micropost.user %>
  </span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
  <% if !current_user?(micropost.user) %>
    <div class="like-comment">
      <span><%= render "likes/like", micropost: micropost %></span>
      <span> 
        <%= link_to  (micropost_path(micropost.id)) do %>
          <i class="far fa-comment-dots fa-lg fa-fw"></i>
        <% end %>
      </span>
    </div>
  <% end %>
</li>