<% provide(:title, 'index') %>
<ol class="microposts">
  <% @microposts.each do |micropost| %>
  <li>
    <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
    <span class="user">
      <%= link_to micropost.user.name, micropost.user %>
    </span>
    <span class="content">
      <%= micropost.content %>
      <%= image_tag micropost.picture.url if micropost.picture? %>
    </span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(micropost.created_at) %> ago.
      <% if current_user?(micropost.user) %>
        <%= link_to "delete", micropost, method: :delete,
                                         data: { confirm: "You sure?" } %>
      <% end %>
    </span>
    <div class="like-comment">
      <span><%= render "likes/like", micropost: micropost %></span>
      <span><%= link_to "comment" , (micropost_path(micropost.id)) %></span>
    </div>
  </li>
  <% end %>
</ol>