<footer class="footer">
  <% if logged_in? %>
    <%= link_to new_micropost_path do%>
    <i class="fab fa-instagram" aria-hidden="true" style="font-size: 1.5em;"></i>
    <% end %>
  <% end %>
</footer>