<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "insta app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="search"><%= render 'shared/search_form' %></li>
        <% if logged_in? %>
          <li>
            <%= link_to  users_path do%>
              <i class="fa fa-users" aria-hidden="true" style="font-size: 1.5em;"></i>
            <% end %>
          </li>
          <li>
            <%= link_to  notifications_path do %>
              <% if unchecked_notifications.any? %>
                <span class="fa-stack">
                  <i class="far fa-bell fa-lg fa-stack-2x" aria-hidden="true" style="font-size: 1.5em;"></i> 
                  <i class="fas fa-circle n-circle fa-stack-1x" aria-hidden="true"></i>
                </span>
              <% else %>
                <i class="far fa-bell fa-lg" aria-hidden="true"  style="font-size: 1.5em;"></i> 
              <% end %>
            <% end %>
          </li>
          <li>
            <%= link_to  current_user do %>
              <i class="fa fa-user-circle" aria-hidden="true" style="font-size: 1.5em;"></i>
            <% end %>
          </li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>